html {
  background: url(../images/raster.png) repeat;
}

body {
    color: #333;
    font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
    background: white;
    box-shadow: 0 0 25px white;
}

::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}

body.index, body.page {
    padding-bottom: 50px;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
}

#container {  
    padding-left: 128px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 128px;
    margin-left: -128px;
    color: #fff;
    text-align: center;
    background: url(../images/circles.png); /* #2c3e50; */
    box-shadow: 0 0 5px black;
}
.sidebar .rotbox {
  height: 100%;
  width: 100%;
  margin: 0;
  box-shadow: inset 0 0 64px black inset;
  background: rgba(0, 0, 0, 0.7);
}
.sidebar .previous {
  display: block;
  height: 128px;
  width: 128px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/back.png) no-repeat 50% 50%;
  opacity: 0.7;
}
.sidebar .previous:hover {
  opacity: 1.0;
}
.sidebar .current {
  display: none;
  font-weight: bold;
  font-size: 3em;
  line-height: 256px;
  color: #333;
  text-shadow: 0px 0px 5px #222;
  white-space: nowrap;
  text-align: right;
  float: right;
  margin-right: 50px;
}
.sidebar .current:hover {
  text-shadow: 0px 0px 25px #333;
}

#content {
    padding: 2em 3em 0;
}

body.index #content {
    padding: 2em 0 0;
}
body.index #content .header {
  padding: 0 3em;
}
body.index .post, body.page .header .post {
    background: #efefef;
    color: gray;
}
body.index .section, body .section.markdown, body .section.directory {
  padding: 0 3em;
  font-size: 2em;
  line-height: 2em;
  display: block;
  text-transform: capitalize;
  text-align: left;
}
body a.section:hover {
  color: white;
  text-align: left;
}
body.index .index, .section.directory {
  background: #6d9f6d url(../images/section-index.png) no-repeat 25px 50%;
}
body.index .gallery, .section.markdown {
  background: #ff4d4d url(../images/section-gallery.png) no-repeat 25px 50%;
}
body.index .page {
  background: #6d9dff url(../images/section-page.png) no-repeat 25px 50%;
}

body.gallery .thumbnails, body .medias {
  text-align: center;
  margin-bottom: 50px;
}
body.gallery .thumbnails img, body .medias .image, body .medias .unknown {
  border: 5px solid white;
  box-shadow: 3px 3px 5px #aaa;
  margin: 10px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
}
body .medias .image {
  background: url(../images/picture.png) center center no-repeat;
}
body .medias .unknown {
  background: url(../images/download.png) center center no-repeat;
  background-color: #eee;
}
body .medias .unknown:active {
  background-color: #ddd;
}
body.gallery #gallery {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
body.gallery #gallery:after {
  content: "<F> layout, <Click> exit";
  color: #222;
  font-size: 2em;
  text-shadow: 1px 1px 5px #000;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.pure-menu-custom ul {
    margin-top: 1em;
}

.pure-menu-custom.pure-menu-open, .pure-menu-custom.pure-menu-horizontal li .pure-menu-children {
    background: none;
    border: none;
}

.pure-menu-custom a, .pure-menu-custom .pure-menu-can-have-children>li:after {
    color: #fff;
}

.pure-menu-custom .pure-menu-selected a {
    color: #1abc9c;
}

.body, .post {
    margin-bottom: 2em;
    font-size: 1.5em;
}

.post a{
    text-decoration: underline;
}

.post>h2 a {
    text-decoration: none;
}


a.admin {
  float: right;
  padding-right: 10px;
  color: silver;
  font-style: italic;
}
a.admin:hover {
  background: none;
  color: gray;
}

.meta {
    margin: 0;
    color: #777;
    font-size: .8em;
}

blockquote {
    border-left: .3em solid #1abc9c;
    margin-left: 0;
    padding-left: 1.5em;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
        padding-top: 0;
    }
    .sidebar .current {
      transform: none;
      display: none;
      line-height: 3em;
    }
    .sidebar .rotbox {
      height: 128px;
      width: 100%;
      position: block;
      margin: 0;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 64px black inset;
    }
    
    #container {
        padding: 0;
    }
    
    .pure-menu-custom ul {
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    #content {
        padding: 2em 1em 0;
    }
}
